* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
}

/* ======================
    Typogrphy
========================*/
.site-title {
	color: #143774;
	font-size: 2rem;
	font-family: 'Lora', serif;
	letter-spacing: 0.2rem;
	font-weight: 400;
}

.site-tagline {
	color: #1792d2;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
}

.nav-list-item {
	list-style-type: none;
	margin: 0 1.3em;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
}

/* ======================
    Layout
========================*/

header {
	background-color: #f8f8f8;
	padding: 2em 0;
}

.container {
	width: 50%;
	padding: 2.5em;
}

/* navigation */

.nav-container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	text-align: center;
}

.nav-list {
	display: flex;
	padding-top: 20px;
}

nav a {
	color: #707070;
	text-decoration: none;
	padding: 0.25em 0;
}

.current-page {
	border-bottom: 2px #707070 solid;
}

nav a:hover,
nav a:focus {
	color: #1792d2;
}

.current-page:hover {
	color: #707070;
}
